#define WIFI_PASSWORD "<YourPassword>"
#define WIFI_SSID "<YourSSID>"

// grafana/graphite config
#define GRAPHITE_USER "12345"
#define GRAPHITE_API_KEY "sdhakdfhdasjkfhkasjhfkasj" // graphite API key goes here

